
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(12, 34, 57);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

h1 {
    color: rgb(254, 255, 4);
    font-family: 'Times New Roman', Times, serif;
    font-display: bold;
    font-size: 20pt;
    padding: 20px 0px 15px 0px;
}

h2 {
    text-decoration: bold;
    color: rgb(248, 254, 254);
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 3px;
}

a {
    text-decoration: none;
    color: rgb(73, 230, 227);
}

p {
    color: rgb(248, 254, 254); 
    line-height: 20px;
}

ul {
    color: rgb(248, 254, 254);
    margin: 5px 20px 5px 20px;

}
















/* link 73, 230, 227
/* black 00000000
/* yelloe 254 255 4
/* white 248 254 254
