


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(50, 60, 168);
}

.banner {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    background-color: white;
    margin: 100px;
}

.nav-bar {
    display: grid;
    /////
}

.content-container {
    display: grid;
    grid-template-columns: 65% 35%;
    
}

.main-content {

    padding: 50px 100px;
}

.main-content img{
    width: 100%;
    height: auto;
}

h3 {
    text-decoration: bold;
    color: darkblue;
}

.date {
    color: blue;
    font-style: italic;


}

.datetext {
    margin: 0px;
}

p {
    margin: 15px 0px;
}

